<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.silver.designtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tawjih"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tawjih"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activités.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activités.Inscription"
            android:parentActivityName=".Activités.MainActivity" />
        <activity
            android:name=".Activités.Recherche"
            android:parentActivityName=".Activités.Menu" />
        <activity android:name=".Activités.Menu" />
        <activity
            android:name=".Activités.Resultats"
            android:parentActivityName=".Activités.Recherche" />
        <activity
            android:name=".Activités.Profil"
            android:parentActivityName=".Activités.Menu" />
        <activity
            android:name=".Activités.Parametres"
            android:parentActivityName=".Activités.Menu" />
        <activity
            android:name=".Activités.PassOublie"
            android:parentActivityName=".Activités.MainActivity" />
        <activity
            android:name=".Activités.CalculScorePrincipale"
            android:parentActivityName=".Activités.SelectSession" />
        <activity
            android:name=".Activités.SelectSession"
            android:parentActivityName=".Activités.Profil" />
        <activity
            android:name=".Activités.CalculScoreControle"
            android:parentActivityName=".Activités.Profil" />
        <activity
            android:name=".Activités.SelectSearchMethod"
            android:parentActivityName=".Activités.Menu" />
        <activity
            android:name=".Activités.DiplomeSelected"
            android:parentActivityName=".Activités.SelectSearchMethod" />
        <activity android:name=".Activités.Favoris" />
        <activity
            android:name=".Activités.SousResultats"
            android:label="@string/title_activity_sous_resultats"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>